.text1 { font-size: 11px; line-height: 16px; }
.text2 { font-size: 10px; line-height: 13px; }
.text3 { font-size: 13px; line-height: 16px; }
.text4 { font-size: 11px; line-height: 13px; }
.text5 { font-size: 9px; line-height: 16px; }
a:link {	color: #003366;	text-decoration: none;}
a:visited {	color: #003366;	text-decoration: none;}
a:active {	color: #003366;	text-decoration: none;}
