.newsCategory{
font-weight:normal;
vertical-align:top;
}
.newsCategory span{
display:block;
padding:4px;
text-align:center;
line-height:1;
white-space:nowrap;
color:#ffffff;
font-size:10px;
}
.newsCategory.type01 span{background:#7c8ebf;}
.newsCategory.type02 span{background:#7cbfbe;}
.newsCategory.type03 span{background:#acacac;}
.newsCategory.type04 span{background:#f7700d;}
.newsDate{
width:80px;
text-align:center;
vertical-align:top;
}
.newsContent{
vertical-align:top;
}
.newsContent p{
margin:0 0 20px;
}
.newsContent .newsTitle{
margin:0;
font-weight:bold;
}

.archive td a{
display:block;
margin:0 0 5px;
padding:10px 10px 10px 25px;
background:#00746f url(../news/img/news_arrow_01.gif) no-repeat 10px 50%;
color:#ffffff;
}
.archive td.current a{
background:#efefef url(../news/img/news_arrow_02.gif) no-repeat 10px 50%;
color:#000000;
}


.paging td{
white-space:nowrap;
}
.paging a{
display:block;
margin:0 5px;
border:1px solid #d7d7d7;
padding:9px 0;
width:28px;
background:#efefef;
text-align:center;
line-height:1;
color:#000000;
}
.paging .current a{
background:#7c8ebf;
color:#ffffff;
}
.paging .prev a,
.paging .next a{
border:none;
background:none;
color:#0000ff;
}


.button td a{
display:block;
margin:0 0 5px;
padding:10px 10px 10px 25px;
background:#00746f url(../news/img/news_arrow_03.gif) no-repeat 10px 50%;
text-align:center;
color:#ffffff;
}

