/*

A Six Apart theme adapted for Movable Type default templates 
name: Professional Pink
designer: Jim Ramsey 
designer_url: http://www.jimramsey.net/ 
layouts: layout-wm

*/


/* Default ---------------------------------------------------------------- */

/* Global */

body {
    font: normal 13px arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
}


/* Header */

#header {
    
}

#header-inner {
    position: relative;
}

#header-name {
    margin-bottom: 0;
}

#header-description {
    
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}


/* Content */

.asset-name {
    
}

.asset-name a {
    text-decoration: none;
}

.asset-name a:hover {
    text-decoration: underline;
}

.asset-content {
    margin: 5px 0;
}

.asset-more-link {
    font-weight: bold;
}

.asset-meta {
    border-top: 1px solid #ccc;
}

.asset-footer a,
.comment-footer a {
    font-weight: normal;
}

.content-nav {
    margin: 5px 0 10px;
}

h1#page-title.archive-title, 
h1#page-title.search-results-header  {
    margin: 0 0 15px;
    border-bottom: 1px dotted #ccc;
    font-weight: bold;
    font-size: 14px;
}

.trackbacks-info,
.trackback-content,
.comment-content,
.comments-open-content,
.comments-closed {
    margin: 5px 0;
}

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
}

.search-results-header {
    margin-bottom: .25em;
}

.asset-more-link,
.asset-meta,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed {
    
}


/* Utility */

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative;
    width: 100%;
    w\idth: auto;
}


/* Global ----------------------------------------------------------------- */

body {
    color: #000;  
    font-family: georgia;   
    background-color: #fff; 
}

a {
    color: #069;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}


/* Layout ----------------------------------------------------------------- */

#container-inner,
#content {
    background-color: #fff;
}

#header-inner, #content-inner, #footer-inner {
    padding-top: 0;
    padding-bottom: 0;
}

#header-inner, #beta-inner, #gamma-inner {
    padding-right: 0;
    padding-left: 0;
}

#content { 
    margin-top: 25px;  
    margin-bottom: 30px;  
}

#container-inner {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#header-inner,
#main-navigation-inner,
#content-inner,
#footer-inner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}


/* Header ----------------------------------------------------------------- */

#header { 
    background: #000 url(header-bg.gif) repeat-x 0 0;
}

#header a {
    color: #fff;
}

#header-content {
    width: 842px; 
    margin: 30px 20px;
}

#header-name {
    color: #fff; 
    font-size: 30px;
    margin-bottom: 5px;
}

#header-description {
    color: #777;
    font-size: 15px;  
}


/* Navigation ----------------------------------------------------------------- */

#main-navigation {
    background: #eee url(nav-bg.gif) repeat-x 0 0;
    border-bottom: 1px solid #ccc;
    font-family: verdana;
}

#main-navigation-inner {
    position: relative;
}

#main-navigation ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
}

#main-navigation ul li {
    float: left;
    padding-top: 2px;
}

#main-navigation ul li a {
    display: block;
    text-decoration: none;
    padding: 7px 15px 7px 16px;
    border-left: 1px solid #ccc;
    line-height: 20px;
}

#main-navigation ul li a:hover {
    text-decoration: underline;
}

#main-navigation ul li.on a {
    color: #000;
    background: #fff url(nav-arrow-on.gif) no-repeat 50% bottom;
}

#main-navigation ul li.last {
    border-right: 1px solid #ccc;
}


/* Search ---------------------------------------------------------------- */

.widget-search {
    float: right;
    width: 300px;
    position: absolute;
    top: 2px;
    right: 0;
    text-align: right;
}

.widget-search h3 {
    display: none;
}

#search {
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 1px;
}

#search-submit {
    border: 1px solid #036;
    border-top: 1px solid #80b3cc;
    border-left: 1px solid #80b3cc;
    background: #069;
    color: #fff;
    padding: 0px 5px 1px 5px;
    font-size: 11px;
}


/* Sign In ---------------------------------------------------------------- */

#header .widget-sign-in {
    position: absolute;
    right: 15px;
    top: 5px;
    text-align: center;
    color: #777;
    font-family: verdana;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

#header .widget-sign-in .widget-header {
    display: none;
}

#header .widget-sign-in .widget-content {
    background-color: #000;
    margin: 0;
    padding: 5px 15px 10px 15px;
    float: right;
    overflow: hidden;
}

#header .widget-sign-in a {
    color: #777;
    text-decoration: underline !important;
}
#header .widget-sign-in a:hover {
    color: #fff;
}


/* Bread Crumbs Nav */

#breadcrumbs-content { 
    font-size: 95%;
    line-height: 1.3;
}

#breadcrumbs-content .current { 
    color: #000;
}

/* Blog Header */

#blog-name { 
    margin-bottom: 0;
    padding: 0 20px;
    font-size: 22px;
}

#blog-name a { 
    color: #fff;
}

#blog-description { 
    margin-top: 5px;
    padding: 0 20px;
    color: #fff;
    font-size: 95%;
}


/* Breadcrumbs ----------------------------------------------------------------- */

#breadcrumbs-inner { 
    width: 940px;
    margin: 15px auto 0;
}

#breadcrumbs-content { 
    padding: 0 0 0 20px;
}

#breadcrumbs ul, #breadcrumbs li {
    margin: 0;
    display: inline;
    list-style: none;
}

#breadcrumbs li, 
#breadcrumbs li ul { 
    padding: 0;
}

#breadcrumbs ul li a {
    margin-right: 0.75em;
}


/* Blog Header ----------------------------------------------------------------- */

#blog-header-inner { 
    width: 940px;
    margin: 10px auto 0;
}

#blog-header-content { 
    margin: 0 15px 0 20px;
    padding: 15px 0;
    background-color: #333;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/* Content ---------------------------------------------------------------- */

#content {
    line-height: 1.5;
}

.asset-name,
.asset-name a,
.archive-title {
    
}

.comment-footer,
.comment-footer a,
.trackback-footer {
    
}

.asset-footer {
    font-size: 13px;
    border-top: 1px dotted #ccc;
    padding-top: 15px;
}

.comments-header,
.comments-open-header,
.trackbacks-header,
.archive-header,
.search-form-header,
.search-results-header {
    
}

.asset-name a {
    
}

.entry-asset .asset-name {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 12px;
}

.entry-asset .asset-meta {
    color: #777;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    font-size: 12px;
    padding: 6px 0;
    margin-bottom: 12px;
}


.entry-asset .byline {
    float: left;
}
.entry-asset .asset-comments,
.entry-asset .asset-trackbacks {
    float: right;
    margin-left: 10px;
}
.entry-asset .asset-comments a,
.entry-asset .asset-trackbacks a {
    display: block;
    float: left;
    padding-left: 18px;
}
.entry-asset .asset-comments a {
    background: url(icon-comment.gif) no-repeat 2px 50%;
}
.entry-asset .asset-trackbacks a {
    background: url(icon-trackback.gif) no-repeat 0 50%;
}

.archive li {
    margin-bottom: 5px;
}

#group-nav-inner {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

h1#page-title {
    font-size: 24px;
    line-height: 1.3;
}

.mt-main-index h1#page-title {
    font-size: 30px;
    margin-bottom: .5em;
}

#homepage-image {
    width: 905px;
    height: 170px;
    /* photo by Alex Bain -- http://www.nontent.net/portfolio */
    background: url(homepage-image.jpg) no-repeat 0 0;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0 0 25px 20px;
}

#alpha .comments .even {
    background-color: #e6f0f5;
    border-right: 1px solid #c0d9e6;
    border-bottom: 1px solid #c0d9e6;
}

#alpha .comments .odd {
    background-color: #f3f3f3;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.comment {
    background: #fff;
    padding: 10px 10px 0;
    margin-bottom: 10px;
}

.comment-header {
    font-weight: bold;
}

h2.comments-header,
h2.comments-open-header,
h2.trackbacks-header {
    height: 20px;
    background: url(header-arrow-wide.gif) no-repeat 0 0;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 0 6px 0 20px;
    line-height: 20px;
    font-family: verdana;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.layout-wtt h2.comments-header,
.layout-wtt h2.comments-open-header,
.layout-wtt h2.trackbacks-header {
    background: url(header-arrow-wide520.gif) no-repeat 0 0;
}

#main-navigation .search-options {
    display: none;
}

.widget-recent-comments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-recent-comments ul li {
    padding: 0 0 0 18px;
    margin: 0 0 8px 0;
    background: url(icon-comment.gif) no-repeat 0 4px;
}

.widget-recent-entries dl {

}

.widget-recent-entries dl dt {
    font-size: 18px;
}

.widget-recent-entries dl dd {
    margin-bottom: 3px;
}

.widget-recent-entries dl dd.entry-meta {
    color: #777;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.widget-recent-assets .item { 
    width: 72px;
    margin: 0 4px 8px;
}

.widget-recent-assets .item img { 
    border: 1px solid #ccc;
}

.userpic {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 10px 0 0;
    padding: 0;
    border: 1px solid #fff;
}

.auth-icon {
    position: absolute;
    bottom: 0;
    left: 0;
}

.comment-header {
    color: #777;
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: normal;
}

.comment-content {
    clear: none;
    margin: 0 0 5px 0;
    padding: 0;
}

.admin-edit-link {
    text-align: center;
    font-family: verdana;
    margin-top: 10px;
}

.admin-edit-link a {
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;
}


/* Forms ---------------------------------------------------------------- */

input.text, textarea {
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 1px 2px;
    background-color: #fafafa;
}

.contact-form label {
    display: block;
}

.contact-form input.text {
    font-size: 13px;
}

.contact-form textarea {
    margin-bottom: 15px;
}


/* Widget ----------------------------------------------------------------- */

.widget-header,
.widget-content {
    margin-right: 15px;
    margin-left: 15px;
}

.widget-header {
    height: 20px;
    margin-bottom: 8px;
    background: url(header-arrow-narrow.gif) no-repeat 0 0;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 0 6px 0 20px;
    line-height: 20px;
    font-family: verdana;
    text-transform: uppercase;
}

.widget-header a {
    color: #fff;
    font-weight: bold;
}

.widget-header a:hover {
    text-decoration: underline;
}

.layout-wm .widget-header {
    background-image: url(header-arrow-medium.gif);
}

#content .widget-powered .widget-content {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
} 

.widget-content {
    margin-top: 5px;
    margin-bottom: 20px;
}


/* "Powered By" Widget */

.widget-powered .widget-content {
    padding: 10px;
    text-align: center;
}


/* Calendar Widget */

.widget-calendar .widget-content table {
    font-size: 10px;
}


/* Footer Widgets */

#footer .widget,
#footer .widget-content {
    margin: 0;
    padding: 0;
}

#footer .widget-footer-links {
    width: 50%;
}

#footer .widget-powered {
    float: right;
    width: 157px;
    text-align: right;
    clear: none;
}

#footer .widget-powered .widget-content {
    margin: 0;
    padding: 0;
    text-align: left;
}

#footer .widget-powered .widget-content span {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

#footer .widget-powered .widget-content span a {
    display: block;
    float: right;
    height: 41px;
    width: 158px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(powered-by-mt-logo.gif) no-repeat 0 0;
}


/* Footer ----------------------------------------------------------------- */

#footer { 
    background: #eee url(nav-bg.gif) repeat-x 0 0;
    color: #777;
}

#footer a {
    color: #069;
}

#footer .widget-header {
    display: none;
}

#footer-content {
    margin: 20px 15px 20px 20px;
}

#footer-content ul {
    list-style: none;
    margin: 0;
    padding: 12px 0 0 0;
    float: left;
}

#footer-content ul li {
    float: left;
    margin: 0;
    padding: 0;
}


/* Utilities -------------------------------------------------------------- */

#header:after,
#header-inner:after,
#content:after,
#alpha-inner:after,
#beta-inner:after,
#gamma-inner:after,
#main-navigation:after,
.entry-asset .asset-meta:after,
.comment:after,
#footer-content:after,
#footer:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}

#header-inner,
#content-inner,
#footer-inner,
#main-navigation,
.entry-asset .asset-meta,
.comment,
#footer-content,
.asset-body {
    height: 1%;
}


/* Custom Styles ---------------------------------------------------------- */



/* Styles for Professional Pink ---------------------------------------------------------- */


a {
    color: #495b29;
    color: #058;
}

#header,
#header .widget-sign-in .widget-content { 
    background-color: #8f1443;
}

#header .widget-sign-in .widget-content,
#header .widget-sign-in .widget-content a {
    color: #ddb8c6;
}

#main-navigation {
    background-color: #f4e7ec;
    border-bottom: 1px solid #ddb8c6;
}

#main-navigation ul li a {
    border-left: 1px solid #ddb8c6;
}

#main-navigation ul li.last {
    border-right: none;
}

#main-navigation ul li.last a {
    border-right: 1px solid #ddb8c6;
}

#search-submit {
    border: 1px solid #3b4921;
    border-top: 1px solid #7f8c69;
    border-left: 1px solid #7f8c69;
    background: #495b29;
    color: #fff;
    padding: 0px 5px 1px 5px;
    font-size: 11px;
}

#footer a {
    color: #495b29;
    color: #058;
}
