<mt:Include name="include/header.tmpl">
<mt:if name="saved">
  <mtapp:statusmsg id="saved-added" class="success">
  <__trans phrase="This data has been saved.">
  </mtapp:statusmsg>
</mt:if>
<form method="post" action="<mt:GetVar name="script_url">" id="new_addressbook_form">
<mt:unless name="new_object">
  <input type="hidden" name="id" value="<mt:GetVar name="id" escape="html">" />
</mt:unless>
  <input type="hidden" name="__mode" value="save" />
  <input type="hidden" name="_type" value="addressbook_workflow" />
  <input type="hidden" name="blog_id" value="<mt:GetVar name="blog_id">" />
  <input type="hidden" name="return_args" value="<mt:GetVar name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:GetVar name="magic_token">" />
  <fieldset>

<mtapp:setting id="name" shown="1" label="<__trans phrase="Name">">
    <input type="text" name="name" id="name" class="full-width" value="<mt:GetVar name="name" />" />
</mtapp:setting>

<mtapp:setting id="price" shown="1" label="<__trans phrase="Email">">
    <input type="text" name="email" id="email" class="full-width" value="<mt:GetVar name="email" />" />
</mtapp:setting>

<mtapp:setting
   id="description"
   label="<__trans phrase="Description">"
>
    <textarea name="description" id="description" class="text low" cols="" rows=""><mt:var name="description" escape="html"></textarea>
</mtapp:setting>

<mt:ignore>
<mtapp:setting id="size" shown="1" label="<__trans phrase="Blog ID">">
    <input type="text" name="blog_ids" id="blog_ids" class="full-width" value="<mt:GetVar name="blog_ids" />" />
</mtapp:setting>
</mt:ignore>

<mt:if name="new_object">
  <mt:SetVarBlock name="action_buttons">
    <button type="submit" accesskey="s" title="<__trans phrase="Create">" class="create action primary button"><__trans phrase="Create"></button>
  </mt:SetVarBlock>
<mt:else>
  <mt:SetVarBlock name="action_buttons">
<button type="submit" accesskey="s" title="<__trans phrase="Save Changes">" class="create action primary button"><__trans phrase="Save Changes"></button>
  </mt:SetVarBlock>
</mt:if>

<mt:Include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
  </fieldset>
</form>
<mt:Include name="include/footer.tmpl">
