<title>Index of Images: Bullets: Stars</title>
<h1>Index of Bullets: Stars</h1>
<img src = "/images/lines/textured/sand.gif">
<p>
<ul>
<strong>
<img src = "/images/bullets/stars/black.gif">
   <a href = "/images/bullets/stars/black.gif">
             "/images/bullets/stars/black.gif"</a><p>
<img src = "/images/bullets/stars/blue.gif">
   <a href = "/images/bullets/stars/blue.gif">
             "/images/bullets/stars/blue.gif"</a><p>
<img src = "/images/bullets/stars/cyan.gif">
   <a href = "/images/bullets/stars/cyan.gif">
             "/images/bullets/stars/cyan.gif"</a><p>
<img src = "/images/bullets/stars/gold.gif">
   <a href = "/images/bullets/stars/gold.gif">
             "/images/bullets/stars/gold.gif"</a><p>
<img src = "/images/bullets/stars/orange.gif">
   <a href = "/images/bullets/stars/orange.gif">
             "/images/bullets/stars/orange.gif"</a><p>
<img src = "/images/bullets/stars/purple.gif">
   <a href = "/images/bullets/stars/purple.gif">
             "/images/bullets/stars/purple.gif"</a><p>
<img src = "/images/bullets/stars/red.gif">
   <a href = "/images/bullets/stars/red.gif">
             "/images/bullets/stars/red.gif"</a><p>
<img src = "/images/bullets/stars/white.gif">
   <a href = "/images/bullets/stars/white.gif">
             "/images/bullets/stars/white.gif"</a><p>
<img src = "/images/bullets/stars/yellow.gif">
   <a href = "/images/bullets/stars/yellow.gif">
             "/images/bullets/stars/yellow.gif"</a><p>
</strong>
</ul>
<p>
<img src = "/images/lines/textured/sand.gif">
<p>
<a href = "/index.html">Home</a> ||
<a href = "/images">Index of Images</a> ||
<a href = "/images/bullets">Bullets</a>

