<MTPages lastn="1">
<table width="779" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F4F8">
        <tbody><tr>
          <td height="15" colspan="6"><p><img src="../img_cmn/spacer.gif" width="1" height="1"></p>
          </td>
      </tr>
        <tr>
          <td width="30" height="20"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
          <td colspan="5"><font color="#333333" class="text2"><b>【各種データダウンロード】</b></font></td>
      </tr>
        <tr>
          <td height="30"><p><img src="../img_cmn/spacer.gif" width="1" height="1"></p>
        </td>
          <td width="10" valign="top"><font color="#333333" class="text2">■</font></td>
          <td width="240" valign="top"><a href="<MTIf tag="CF_USE_ANNOUNCE_PDF"><MTCF_USE_ANNOUNCE_PDFAsset><$MTAssetURL$></MTCF_USE_ANNOUNCE_PDFAsset></MTIf>" target="_blank"><font color="#333333" class="text2">ご利用案内</font></a><font color="#333333" class="text2">がダウンロードできます。→</font></td>
          <td width="70" valign="top"><a href="<MTIf tag="CF_USE_ANNOUNCE_PDF"><MTCF_USE_ANNOUNCE_PDFAsset><$MTAssetURL$></MTCF_USE_ANNOUNCE_PDFAsset></MTIf>" target="_blank"><img src="../img_cmn/banner_pdf_dl.gif" alt="ご利用案内" width="22" height="24" border="0"></a></td>
          <td width="100" rowspan="2" valign="top"><a href="http://www.adobe.co.jp/support/custsupport/library/acrwin.html" target="_blank"><img src="../img_cmn/banner_acrobat_dl.gif" alt="Get Acrobat" width="88" height="31" border="0"></a></td>
          <td width="329" rowspan="2" valign="top"><font color="#333333" class="text2">これらのファイルを見るには、Acrobat Reader が必要です。<br>
            Acrobat Reader はアドビシステムズ社より、無償で配布されています。</font></td>
        </tr>
        <tr>
          <td height="30"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
          <td valign="top"><font color="#333333" class="text2">■</font></td>
          <td valign="top"><a href="<MTIf tag="CF_USE_FEE_PDF"><MTCF_USE_FEE_PDFAsset><$MTAssetURL$></MTCF_USE_FEE_PDFAsset></MTIf>" target="_blank"><font color="#333333" class="text2">使用料金表</font></a><font color="#333333" class="text2">がダウンロードできます。 →</font></td>
          <td valign="top"><a href="<MTIf tag="CF_USE_FEE_PDF"><MTCF_USE_FEE_PDFAsset><$MTAssetURL$></MTCF_USE_FEE_PDFAsset></MTIf>" target="_blank"><img src="../img_cmn/banner_pdf_dl.gif" alt="リハーサル室料金表" width="22" height="24" border="0"></a></td>
      </tr>
        <tr>
          <td height="30"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
          <td valign="top"><font color="#333333" class="text2">■</font></td>
          <td valign="top"><a href="<MTIf tag="CF_USE_ROOM_FEE_PDF"><MTCF_USE_ROOM_FEE_PDFAsset><$MTAssetURL$></MTCF_USE_ROOM_FEE_PDFAsset></MTIf>" target="_blank"><font color="#333333" class="text2">リハーサル室料金表</font></a><font color="#333333" class="text2">がダウンロードできます。 →</font></td>
          <td valign="top"><a href="<MTIf tag="CF_USE_ROOM_FEE_PDF"><MTCF_USE_ROOM_FEE_PDFAsset><$MTAssetURL$></MTCF_USE_ROOM_FEE_PDFAsset></MTIf>" target="_blank"><img src="../img_cmn/banner_pdf_dl.gif" alt="舞台図面" width="22" height="24" border="0"></a></td>
          <td valign="top"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
          <td valign="top"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
        </tr>
        <tr>
          <td height="50"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
          <td valign="top"><font color="#333333" class="text2">■</font></td>
          <td valign="top"><a href="<MTIf tag="CF_USE_STAGE_PDF"><MTCF_USE_STAGE_PDFAsset><$MTAssetURL$></MTCF_USE_STAGE_PDFAsset></MTIf>" target="_blank"><font color="#333333" class="text2">舞台図面・ホール照明回路図のデータ</font></a><font color="#333333" class="text2">が<br>
        がダウンロードできます。→</font></td>
          <td valign="top"><a href="<MTIf tag="CF_USE_STAGE_PDF"><MTCF_USE_STAGE_PDFAsset><$MTAssetURL$></MTCF_USE_STAGE_PDFAsset></MTIf>" target="_blank"><img src="../img_cmn/banner_pdf_dl.gif" alt="舞台図面" width="22" height="24" border="0"></a></td>
          <td valign="top"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
          <td valign="top"><img src="../img_cmn/spacer.gif" width="1" height="1"></td>
        </tr>
    </tbody>
</table>
</MTPages>