<title>Index of Images: Buttons</title>
<h1>Index of Buttons</h1>
<img src = "/images/lines/textured/sand.gif">
<p>
<ul>
<strong>
<img src = "/images/bullets/dots/blue.gif">
   <a href = "/images/buttons/frames/">Framed Buttons</a><p>
<img src = "/images/bullets/dots/blue.gif">
   <a href = "/images/buttons/textured/">Textured
</strong>
</ul>
<p>
<img src = "/images/lines/textured/sand.gif">
<p>
<a href = "/index.html">Home</a> || 
<a href = "/images">Index of Images</a>


