<MTSetVarBlock name='nowdate'>
<MTEntries  days="1" sort_order="ascend" limit="1">
<$MTEntryDate format='%Y%m'$>
</MTEntries>
</MTSetVarBlock>
<?php
	$nowdate = <$MTGetVar name="nowdate"$>;
	header("Location:$nowdate.php");
	exit();
?>