<MTDate format='%Y%m' setvar="mt_date">
<MTEntries lastn="0">
<$MTEntryDate format='%Y%m' setvar="tmp_date"$>
<MTIf name="tmp_date" ge="$mt_date">
<MTSetVar name='nowdate' value="$tmp_date">
</MTIf>
</MTEntries>
<?php
    $nowdate = <$MTGetVar name="nowdate"$>;
	header("Location:$nowdate.php");
	exit();
?>