<table width="100%"  border="0" cellpadding="1" cellspacing="0" class="text1">



<tr>
<th scope="row" width="60" class="newsCategory type01 type01"><span>お知らせ</span></th>
<td class="newsDate">2018.02.28</td>
<td class="newsContent">
<p class="newsTitle"><a href="/news/detail/20180228094518.html" >3月31日（土）「第5回 全日本マンドリン合奏コンクール」開場開演時間変更のお知らせ</a></p>
<p>3月31日（土）「第5回 全日本マンドリン合奏コンクール」開場開演時間変更のお知らせ開場・開演時刻を...</p>
</td>
</tr>

</table>
