<tr>
<th scope="row" width="60" class="newsCategory type01 type02"><span>イベント</span></th>
<td class="newsDate">2015.09.26</td>
<td class="newsContent">
<p class="newsTitle"><a href="/news/detail/20150926222130.html"target="_blank">iOS用ゲームの「Mr Jump」、リリース後4日で500万ダウンロードを達成</a></p>
<p>今週末はジャンプばかりしていた。失敗して落ちてしまって死んだりも繰り返した。と、いうのは最近リリース...</p>
</td>
</tr>



<tr>
<th scope="row" width="60" class="newsCategory type01 type02"><span>イベント</span></th>
<td class="newsDate">2015.08.26</td>
<td class="newsContent">
<p class="newsTitle">Apple、永続的データベースのFoundationDBを買収(リンクなし)</a></p>
<p>FoundationDBサイトの注意文には、同社のデータベースソフトウェアはダウンロードできない、と...</p>
</td>
</tr>



<tr>
<th scope="row" width="60" class="newsCategory type01 type03"><span>コンサート</span></th>
<td class="newsDate">2015.07.26</td>
<td class="newsContent">
<p class="newsTitle"><a href="/news/pdf/test2.pdf"target="_blank">KDDI ∞ Labo第8期メンバーお披露目、IoT関連スタートアップは2チーム(PDF 別画面)</a></p>
<p>DDIが2011年から続けているインキュベーションプログラム「KDDI ∞ labo」。その第8期プ...</p>
</td>
</tr>

