<title>Index of Images: Icons</title>
<h1>Index of Icons</h1>
<img src = "/images/lines/textured/sand.gif">
<p>
<ul>
<strong>
<img src = "/images/icons/angry.gif">
   <a href = "/images/icons/angry.gif">
             "/images/icons/angry.gif"</a><p>
<img src = "/images/icons/asterisk.gif">
   <a href = "/images/icons/asterisk.gif">
             "/images/icons/asterisk.gif"</a><p>
<img src = "/images/icons/blank.gif">
   <a href = "/images/icons/blank.gif">
             "/images/icons/blank.gif"</a> (use this to indent paragraphs)<p>
<img src = "/images/icons/construction.gif">
   <a href = "/images/icons/construction.gif">
             "/images/icons/construction.gif"</a><p>
<img src = "/images/icons/copyright.gif">
   <a href = "/images/icons/copyright.gif">
             "/images/icons/copyright.gif"</a><p>
<img src = "/images/icons/idea.gif">
   <a href = "/images/icons/idea.gif">
             "/images/icons/idea.gif"</a><p>
<img src = "/images/icons/mail.gif">
   <a href = "/images/icons/mail.gif">
             "/images/icons/mail.gif"</a><p>
<img src = "/images/icons/new.gif">
   <a href = "/images/icons/new.gif">
             "/images/icons/new.gif"</a><p>
<img src = "/images/icons/new_feature.gif">
   <a href = "/images/icons/new_feature.gif">
             "/images/icons/new_feature.gif"</a><p>
<img src = "/images/icons/point_left.gif">
   <a href = "/images/icons/point_left.gif">
             "/images/icons/point_left.gif"</a><p>
<img src = "/images/icons/point_right.gif">
   <a href = "/images/icons/point_right.gif">
             "/images/icons/point_right.gif"</a><p>
<img src = "/images/icons/sad.gif">
   <a href = "/images/icons/sad.gif">
             "/images/icons/sad.gif"</a><p>
<img src = "/images/icons/see_note.gif">
   <a href = "/images/icons/see_note.gif">
             "/images/icons/see_note.gif"</a><p>
<img src = "/images/icons/smiley.gif">
   <a href = "/images/icons/smiley.gif">
             "/images/icons/smiley.gif"</a><p>
<img src = "/images/icons/thumbs_down.gif">
   <a href = "/images/icons/thumbs_down.gif">
             "/images/icons/thumbs_down.gif"</a><p>
<img src = "/images/icons/thumbs_up.gif">
   <a href = "/images/icons/thumbs_up.gif">
             "/images/icons/thumbs_up.gif"</a><p>
</strong>
</ul>
<p>
<img src = "/images/lines/textured/sand.gif">
<p>
<a href = "/index.html">Home</a> || 
<a href = "/images">Index of Images</a>


